@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

body {
    background: #007bff;
    background: linear-gradient(to right, #b39ddb, #8c9eff);
}

*{
    font-family: 'Open Sans', sans-serif;
}

.no-display {
    display: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 15px;
    color: #262626;
}

.content {
    margin-top: 15px;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    height: 40px;
    border-radius: 5px;
    background-color: #ffffff;
    border: solid 1px #7052CB;
    font-size: 13px;
    color: #7052CB;
}

button.analyze-button {
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    height: 40px;
    border: solid 1px #7052CB;
    border-radius: 5px;
    background-color: #7052CB;
    font-size: 13px;
    color: #ffffff;
}

button:focus {
    outline: 0;
}


@media screen and (max-width: 450px) {

  }
